@page "/addproduct"
@inject IProductService ProductService
@inject NavigationManager NavManager
@inject ILocalStorageService LocalStorage

@if (_admin)
{
    <h3>Add Product</h3>

    <EditForm Model="product">
        <div class="form-group">
            <label for="title">Title</label>
            <InputText class="form-control" required id="title" @bind-Value="product.Title" />
        </div>
        <div class="form-group">
            <label for="info">Description</label>
            <InputText class="form-control" required id="info" @bind-Value="product.Info" />
        </div>
        <div class="form-group">
            <label for="img">Image("/images/{filename}")</label>
            <InputText class="form-control" required id="img" @bind-Value="product.Img" />
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <InputText class="form-control" required id="price" @bind-Value="product.Price" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" @onclick="Add">Add Product</button>
        </div>
    </EditForm>
}
else
{
    <h3>You have not access to this url</h3>
}

@code{
    Product product = new Product();
    private bool _admin;

    private async Task Add()
    {
        await ProductService.AddProduct(product);
        NavManager.NavigateTo("");
    }

    protected override async Task OnInitializedAsync()
    {
        _admin = await LocalStorage.GetItemAsync<bool>("admin");
    }
}