.item-container{
    display: flex;
    padding: 6px;
}

.item-image-wrapper {
    width: 200px;
    height: 150px;
    text-align: center;
}

.item-image {
    max-height: 200px;
    max-width: 200px;
    padding: 6px;
}

.item-name {
    flex-grow: 1;
    max-height: 200px;
    margin-top: 50px;
}

.item-price{
    font-weight: 600;
    color: green;
    text-align: left;
}

.total-item-price {
    font-weight: 600;
    color: green;
    margin-left: 0px;
}