@page "/orders"
@inject ILocalStorageService LocalStorage
@inject IOrderService OrderService

@if (_admin)
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-light text-center">
                <tr>
                    <th>Id</th>
                    <th>UserName</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <GenericList ListOfItems="orders">
                    <ItemTemplate Context="order">
                        <tr>
                            <td>@order.Id</td>
                            <td>@order.UserName</td>
                            <td>@order.Price</td>
                        </tr>
                    </ItemTemplate>
                </GenericList>
            </tbody>
        </table>
    </div>
}
else
{
    <h3>You have not access to this url</h3>
}

@code {
    public List<Order> orders { get; set; } = new List<Order>();
    private bool _admin;

    protected override async Task OnInitializedAsync()
    {
        _admin = await LocalStorage.GetItemAsync<bool>("admin");
        orders = await OrderService.LoadOrders();
    }
}
