@inherits LayoutComponentBase
@inject ILocalStorageService LocalStorage

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <TopMenu />
        </div>

        <div class="content px-4">
            <CascadingValue Value="IsAdmin">
                @Body
            </CascadingValue>

        </div>
    </div>
</div>

<BlazoredToasts />

@code{
    private bool IsAdmin;

    protected override async Task OnInitializedAsync()
    {
        IsAdmin = await LocalStorage.GetItemAsync<bool>("admin");
    }
}
